
//==============================
// Variables
//==============================

//== colors tests =================

$color_1: #FFFFFF;
$color_2: #4f4872;
$color_3: #feb933;
$color_4: #000000;
$color_5: #eb651e;
$color_6: #555555;
$color_7: #f0f0f0;
$color_8: #CCCCCC;
$color_9: #0274bb;
$color_10: #E4E4E4;



//== Utilities =================
//Colors
$cor_lilas: #4f4872;
$cor_yellow: #feb933;

//Fonts
$fontFamily: "Rajdhani";
$font_size_text: 18px;
$font_size_title_section: 30px;
$font_size_subtitle_section: 20px;
$font_size_title_item: 24px;
$font_size_subtitle_item: 18px;

//== Layout =====================
//Regular Content
$h_spacing: 4.166666666666667%;
$v_spacing: 35px;

//== Sizes =====================

//Natural
$numColumns: 24;
$sizeColumns: 4.166666666666667%;
$sizeColumns_px: 50px;



//==============================
// Components
//==============================



//==============================
// Variables in queries
//==============================


$break-sm: 768px;
$break-md: 960px;
$break-lg: 1200px;
$break-ex: 1400px;


//==============================
// Animate
//==============================
$time_animate: 0.5s; 