// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-figure-icon-24horas-name: 'FigureIcon--24horas';
$-figure-icon-24horas-x: 66px;
$-figure-icon-24horas-y: 487px;
$-figure-icon-24horas-offset-x: -66px;
$-figure-icon-24horas-offset-y: -487px;
$-figure-icon-24horas-width: 66px;
$-figure-icon-24horas-height: 70px;
$-figure-icon-24horas-total-width: 688px;
$-figure-icon-24horas-total-height: 557px;
$-figure-icon-24horas-image: '../images/sprite.png';
$-figure-icon-24horas: (66px, 487px, -66px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--24horas', );
$-figure-icon-c-d-ne-transcodificacao-name: 'FigureIcon--CDNeTranscodificacao';
$-figure-icon-c-d-ne-transcodificacao-x: 0px;
$-figure-icon-c-d-ne-transcodificacao-y: 155px;
$-figure-icon-c-d-ne-transcodificacao-offset-x: 0px;
$-figure-icon-c-d-ne-transcodificacao-offset-y: -155px;
$-figure-icon-c-d-ne-transcodificacao-width: 132px;
$-figure-icon-c-d-ne-transcodificacao-height: 132px;
$-figure-icon-c-d-ne-transcodificacao-total-width: 688px;
$-figure-icon-c-d-ne-transcodificacao-total-height: 557px;
$-figure-icon-c-d-ne-transcodificacao-image: '../images/sprite.png';
$-figure-icon-c-d-ne-transcodificacao: (0px, 155px, 0px, -155px, 132px, 132px, 688px, 557px, '../images/sprite.png', 'FigureIcon--CDNeTranscodificacao', );
$-figure-icon-acessibilidade-color2-name: 'FigureIcon--acessibilidade--color2';
$-figure-icon-acessibilidade-color2-x: 556px;
$-figure-icon-acessibilidade-color2-y: 280px;
$-figure-icon-acessibilidade-color2-offset-x: -556px;
$-figure-icon-acessibilidade-color2-offset-y: -280px;
$-figure-icon-acessibilidade-color2-width: 66px;
$-figure-icon-acessibilidade-color2-height: 70px;
$-figure-icon-acessibilidade-color2-total-width: 688px;
$-figure-icon-acessibilidade-color2-total-height: 557px;
$-figure-icon-acessibilidade-color2-image: '../images/sprite.png';
$-figure-icon-acessibilidade-color2: (556px, 280px, -556px, -280px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--acessibilidade--color2', );
$-figure-icon-acessibilidade-name: 'FigureIcon--acessibilidade';
$-figure-icon-acessibilidade-x: 132px;
$-figure-icon-acessibilidade-y: 487px;
$-figure-icon-acessibilidade-offset-x: -132px;
$-figure-icon-acessibilidade-offset-y: -487px;
$-figure-icon-acessibilidade-width: 66px;
$-figure-icon-acessibilidade-height: 70px;
$-figure-icon-acessibilidade-total-width: 688px;
$-figure-icon-acessibilidade-total-height: 557px;
$-figure-icon-acessibilidade-image: '../images/sprite.png';
$-figure-icon-acessibilidade: (132px, 487px, -132px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--acessibilidade', );
$-figure-icon-brasileira-color2-name: 'FigureIcon--brasileira--color2';
$-figure-icon-brasileira-color2-x: 424px;
$-figure-icon-brasileira-color2-y: 210px;
$-figure-icon-brasileira-color2-offset-x: -424px;
$-figure-icon-brasileira-color2-offset-y: -210px;
$-figure-icon-brasileira-color2-width: 66px;
$-figure-icon-brasileira-color2-height: 70px;
$-figure-icon-brasileira-color2-total-width: 688px;
$-figure-icon-brasileira-color2-total-height: 557px;
$-figure-icon-brasileira-color2-image: '../images/sprite.png';
$-figure-icon-brasileira-color2: (424px, 210px, -424px, -210px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--brasileira--color2', );
$-figure-icon-brasileira-name: 'FigureIcon--brasileira';
$-figure-icon-brasileira-x: 424px;
$-figure-icon-brasileira-y: 280px;
$-figure-icon-brasileira-offset-x: -424px;
$-figure-icon-brasileira-offset-y: -280px;
$-figure-icon-brasileira-width: 66px;
$-figure-icon-brasileira-height: 70px;
$-figure-icon-brasileira-total-width: 688px;
$-figure-icon-brasileira-total-height: 557px;
$-figure-icon-brasileira-image: '../images/sprite.png';
$-figure-icon-brasileira: (424px, 280px, -424px, -280px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--brasileira', );
$-figure-icon-captura-leads-name: 'FigureIcon--capturaLeads';
$-figure-icon-captura-leads-x: 424px;
$-figure-icon-captura-leads-y: 350px;
$-figure-icon-captura-leads-offset-x: -424px;
$-figure-icon-captura-leads-offset-y: -350px;
$-figure-icon-captura-leads-width: 64px;
$-figure-icon-captura-leads-height: 54px;
$-figure-icon-captura-leads-total-width: 688px;
$-figure-icon-captura-leads-total-height: 557px;
$-figure-icon-captura-leads-image: '../images/sprite.png';
$-figure-icon-captura-leads: (424px, 350px, -424px, -350px, 64px, 54px, 688px, 557px, '../images/sprite.png', 'FigureIcon--capturaLeads', );
$-figure-icon-compartilhamento-color2-name: 'FigureIcon--compartilhamento--color2';
$-figure-icon-compartilhamento-color2-x: 198px;
$-figure-icon-compartilhamento-color2-y: 487px;
$-figure-icon-compartilhamento-color2-offset-x: -198px;
$-figure-icon-compartilhamento-color2-offset-y: -487px;
$-figure-icon-compartilhamento-color2-width: 66px;
$-figure-icon-compartilhamento-color2-height: 70px;
$-figure-icon-compartilhamento-color2-total-width: 688px;
$-figure-icon-compartilhamento-color2-total-height: 557px;
$-figure-icon-compartilhamento-color2-image: '../images/sprite.png';
$-figure-icon-compartilhamento-color2: (198px, 487px, -198px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--compartilhamento--color2', );
$-figure-icon-compartilhamento-name: 'FigureIcon--compartilhamento';
$-figure-icon-compartilhamento-x: 396px;
$-figure-icon-compartilhamento-y: 487px;
$-figure-icon-compartilhamento-offset-x: -396px;
$-figure-icon-compartilhamento-offset-y: -487px;
$-figure-icon-compartilhamento-width: 66px;
$-figure-icon-compartilhamento-height: 70px;
$-figure-icon-compartilhamento-total-width: 688px;
$-figure-icon-compartilhamento-total-height: 557px;
$-figure-icon-compartilhamento-image: '../images/sprite.png';
$-figure-icon-compartilhamento: (396px, 487px, -396px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--compartilhamento', );
$-figure-icon-compatibilidade-name: 'FigureIcon--compatibilidade';
$-figure-icon-compatibilidade-x: 622px;
$-figure-icon-compatibilidade-y: 140px;
$-figure-icon-compatibilidade-offset-x: -622px;
$-figure-icon-compatibilidade-offset-y: -140px;
$-figure-icon-compatibilidade-width: 66px;
$-figure-icon-compatibilidade-height: 70px;
$-figure-icon-compatibilidade-total-width: 688px;
$-figure-icon-compatibilidade-total-height: 557px;
$-figure-icon-compatibilidade-image: '../images/sprite.png';
$-figure-icon-compatibilidade: (622px, 140px, -622px, -140px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--compatibilidade', );
$-figure-icon-distribuicao-redes-sociais-name: 'FigureIcon--distribuicaoRedesSociais';
$-figure-icon-distribuicao-redes-sociais-x: 622px;
$-figure-icon-distribuicao-redes-sociais-y: 420px;
$-figure-icon-distribuicao-redes-sociais-offset-x: -622px;
$-figure-icon-distribuicao-redes-sociais-offset-y: -420px;
$-figure-icon-distribuicao-redes-sociais-width: 64px;
$-figure-icon-distribuicao-redes-sociais-height: 64px;
$-figure-icon-distribuicao-redes-sociais-total-width: 688px;
$-figure-icon-distribuicao-redes-sociais-total-height: 557px;
$-figure-icon-distribuicao-redes-sociais-image: '../images/sprite.png';
$-figure-icon-distribuicao-redes-sociais: (622px, 420px, -622px, -420px, 64px, 64px, 688px, 557px, '../images/sprite.png', 'FigureIcon--distribuicaoRedesSociais', );
$-figure-icon-encoding-videos-color2-name: 'FigureIcon--encodingVideos--color2';
$-figure-icon-encoding-videos-color2-x: 424px;
$-figure-icon-encoding-videos-color2-y: 70px;
$-figure-icon-encoding-videos-color2-offset-x: -424px;
$-figure-icon-encoding-videos-color2-offset-y: -70px;
$-figure-icon-encoding-videos-color2-width: 66px;
$-figure-icon-encoding-videos-color2-height: 70px;
$-figure-icon-encoding-videos-color2-total-width: 688px;
$-figure-icon-encoding-videos-color2-total-height: 557px;
$-figure-icon-encoding-videos-color2-image: '../images/sprite.png';
$-figure-icon-encoding-videos-color2: (424px, 70px, -424px, -70px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--encodingVideos--color2', );
$-figure-icon-encoding-videos-name: 'FigureIcon--encodingVideos';
$-figure-icon-encoding-videos-x: 424px;
$-figure-icon-encoding-videos-y: 140px;
$-figure-icon-encoding-videos-offset-x: -424px;
$-figure-icon-encoding-videos-offset-y: -140px;
$-figure-icon-encoding-videos-width: 66px;
$-figure-icon-encoding-videos-height: 70px;
$-figure-icon-encoding-videos-total-width: 688px;
$-figure-icon-encoding-videos-total-height: 557px;
$-figure-icon-encoding-videos-image: '../images/sprite.png';
$-figure-icon-encoding-videos: (424px, 140px, -424px, -140px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--encodingVideos', );
$-figure-icon-envelope-open-mobile-name: 'FigureIcon--envelopeOpen--mobile';
$-figure-icon-envelope-open-mobile-x: 220px;
$-figure-icon-envelope-open-mobile-y: 287px;
$-figure-icon-envelope-open-mobile-offset-x: -220px;
$-figure-icon-envelope-open-mobile-offset-y: -287px;
$-figure-icon-envelope-open-mobile-width: 90px;
$-figure-icon-envelope-open-mobile-height: 90px;
$-figure-icon-envelope-open-mobile-total-width: 688px;
$-figure-icon-envelope-open-mobile-total-height: 557px;
$-figure-icon-envelope-open-mobile-image: '../images/sprite.png';
$-figure-icon-envelope-open-mobile: (220px, 287px, -220px, -287px, 90px, 90px, 688px, 557px, '../images/sprite.png', 'FigureIcon--envelopeOpen--mobile', );
$-figure-icon-envelope-open-name: 'FigureIcon--envelopeOpen';
$-figure-icon-envelope-open-x: 294px;
$-figure-icon-envelope-open-y: 0px;
$-figure-icon-envelope-open-offset-x: -294px;
$-figure-icon-envelope-open-offset-y: 0px;
$-figure-icon-envelope-open-width: 130px;
$-figure-icon-envelope-open-height: 130px;
$-figure-icon-envelope-open-total-width: 688px;
$-figure-icon-envelope-open-total-height: 557px;
$-figure-icon-envelope-open-image: '../images/sprite.png';
$-figure-icon-envelope-open: (294px, 0px, -294px, 0px, 130px, 130px, 688px, 557px, '../images/sprite.png', 'FigureIcon--envelopeOpen', );
$-figure-icon-escala-qualidade-name: 'FigureIcon--escalaQualidade';
$-figure-icon-escala-qualidade-x: 622px;
$-figure-icon-escala-qualidade-y: 484px;
$-figure-icon-escala-qualidade-offset-x: -622px;
$-figure-icon-escala-qualidade-offset-y: -484px;
$-figure-icon-escala-qualidade-width: 56px;
$-figure-icon-escala-qualidade-height: 69px;
$-figure-icon-escala-qualidade-total-width: 688px;
$-figure-icon-escala-qualidade-total-height: 557px;
$-figure-icon-escala-qualidade-image: '../images/sprite.png';
$-figure-icon-escala-qualidade: (622px, 484px, -622px, -484px, 56px, 69px, 688px, 557px, '../images/sprite.png', 'FigureIcon--escalaQualidade', );
$-figure-icon-escalavel-color2-name: 'FigureIcon--escalavel--color2';
$-figure-icon-escalavel-color2-x: 66px;
$-figure-icon-escalavel-color2-y: 417px;
$-figure-icon-escalavel-color2-offset-x: -66px;
$-figure-icon-escalavel-color2-offset-y: -417px;
$-figure-icon-escalavel-color2-width: 70px;
$-figure-icon-escalavel-color2-height: 66px;
$-figure-icon-escalavel-color2-total-width: 688px;
$-figure-icon-escalavel-color2-total-height: 557px;
$-figure-icon-escalavel-color2-image: '../images/sprite.png';
$-figure-icon-escalavel-color2: (66px, 417px, -66px, -417px, 70px, 66px, 688px, 557px, '../images/sprite.png', 'FigureIcon--escalavel--color2', );
$-figure-icon-escalavel-name: 'FigureIcon--escalavel';
$-figure-icon-escalavel-x: 490px;
$-figure-icon-escalavel-y: 0px;
$-figure-icon-escalavel-offset-x: -490px;
$-figure-icon-escalavel-offset-y: 0px;
$-figure-icon-escalavel-width: 66px;
$-figure-icon-escalavel-height: 70px;
$-figure-icon-escalavel-total-width: 688px;
$-figure-icon-escalavel-total-height: 557px;
$-figure-icon-escalavel-image: '../images/sprite.png';
$-figure-icon-escalavel: (490px, 0px, -490px, 0px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--escalavel', );
$-figure-icon-facil-instalacao-color2-name: 'FigureIcon--facilInstalacao--color2';
$-figure-icon-facil-instalacao-color2-x: 136px;
$-figure-icon-facil-instalacao-color2-y: 417px;
$-figure-icon-facil-instalacao-color2-offset-x: -136px;
$-figure-icon-facil-instalacao-color2-offset-y: -417px;
$-figure-icon-facil-instalacao-color2-width: 70px;
$-figure-icon-facil-instalacao-color2-height: 66px;
$-figure-icon-facil-instalacao-color2-total-width: 688px;
$-figure-icon-facil-instalacao-color2-total-height: 557px;
$-figure-icon-facil-instalacao-color2-image: '../images/sprite.png';
$-figure-icon-facil-instalacao-color2: (136px, 417px, -136px, -417px, 70px, 66px, 688px, 557px, '../images/sprite.png', 'FigureIcon--facilInstalacao--color2', );
$-figure-icon-facil-instalacao-name: 'FigureIcon--facilInstalacao';
$-figure-icon-facil-instalacao-x: 490px;
$-figure-icon-facil-instalacao-y: 70px;
$-figure-icon-facil-instalacao-offset-x: -490px;
$-figure-icon-facil-instalacao-offset-y: -70px;
$-figure-icon-facil-instalacao-width: 66px;
$-figure-icon-facil-instalacao-height: 70px;
$-figure-icon-facil-instalacao-total-width: 688px;
$-figure-icon-facil-instalacao-total-height: 557px;
$-figure-icon-facil-instalacao-image: '../images/sprite.png';
$-figure-icon-facil-instalacao: (490px, 70px, -490px, -70px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--facilInstalacao', );
$-figure-icon-geoblocking-name: 'FigureIcon--geoblocking';
$-figure-icon-geoblocking-x: 490px;
$-figure-icon-geoblocking-y: 140px;
$-figure-icon-geoblocking-offset-x: -490px;
$-figure-icon-geoblocking-offset-y: -140px;
$-figure-icon-geoblocking-width: 66px;
$-figure-icon-geoblocking-height: 70px;
$-figure-icon-geoblocking-total-width: 688px;
$-figure-icon-geoblocking-total-height: 557px;
$-figure-icon-geoblocking-image: '../images/sprite.png';
$-figure-icon-geoblocking: (490px, 140px, -490px, -140px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--geoblocking', );
$-figure-icon-hotsite-color2-name: 'FigureIcon--hotsite--color2';
$-figure-icon-hotsite-color2-x: 206px;
$-figure-icon-hotsite-color2-y: 417px;
$-figure-icon-hotsite-color2-offset-x: -206px;
$-figure-icon-hotsite-color2-offset-y: -417px;
$-figure-icon-hotsite-color2-width: 70px;
$-figure-icon-hotsite-color2-height: 66px;
$-figure-icon-hotsite-color2-total-width: 688px;
$-figure-icon-hotsite-color2-total-height: 557px;
$-figure-icon-hotsite-color2-image: '../images/sprite.png';
$-figure-icon-hotsite-color2: (206px, 417px, -206px, -417px, 70px, 66px, 688px, 557px, '../images/sprite.png', 'FigureIcon--hotsite--color2', );
$-figure-icon-hotsite-name: 'FigureIcon--hotsite';
$-figure-icon-hotsite-x: 490px;
$-figure-icon-hotsite-y: 210px;
$-figure-icon-hotsite-offset-x: -490px;
$-figure-icon-hotsite-offset-y: -210px;
$-figure-icon-hotsite-width: 66px;
$-figure-icon-hotsite-height: 70px;
$-figure-icon-hotsite-total-width: 688px;
$-figure-icon-hotsite-total-height: 557px;
$-figure-icon-hotsite-image: '../images/sprite.png';
$-figure-icon-hotsite: (490px, 210px, -490px, -210px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--hotsite', );
$-figure-icon-html5-name: 'FigureIcon--html5';
$-figure-icon-html5-x: 490px;
$-figure-icon-html5-y: 280px;
$-figure-icon-html5-offset-x: -490px;
$-figure-icon-html5-offset-y: -280px;
$-figure-icon-html5-width: 66px;
$-figure-icon-html5-height: 70px;
$-figure-icon-html5-total-width: 688px;
$-figure-icon-html5-total-height: 557px;
$-figure-icon-html5-image: '../images/sprite.png';
$-figure-icon-html5: (490px, 280px, -490px, -280px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--html5', );
$-figure-icon-integracoes-color2-name: 'FigureIcon--integracoes--color2';
$-figure-icon-integracoes-color2-x: 490px;
$-figure-icon-integracoes-color2-y: 350px;
$-figure-icon-integracoes-color2-offset-x: -490px;
$-figure-icon-integracoes-color2-offset-y: -350px;
$-figure-icon-integracoes-color2-width: 66px;
$-figure-icon-integracoes-color2-height: 70px;
$-figure-icon-integracoes-color2-total-width: 688px;
$-figure-icon-integracoes-color2-total-height: 557px;
$-figure-icon-integracoes-color2-image: '../images/sprite.png';
$-figure-icon-integracoes-color2: (490px, 350px, -490px, -350px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--integracoes--color2', );
$-figure-icon-integracoes-name: 'FigureIcon--integracoes';
$-figure-icon-integracoes-x: 556px;
$-figure-icon-integracoes-y: 0px;
$-figure-icon-integracoes-offset-x: -556px;
$-figure-icon-integracoes-offset-y: 0px;
$-figure-icon-integracoes-width: 66px;
$-figure-icon-integracoes-height: 70px;
$-figure-icon-integracoes-total-width: 688px;
$-figure-icon-integracoes-total-height: 557px;
$-figure-icon-integracoes-image: '../images/sprite.png';
$-figure-icon-integracoes: (556px, 0px, -556px, 0px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--integracoes', );
$-figure-icon-integracoes-api-name: 'FigureIcon--integracoesApi';
$-figure-icon-integracoes-api-x: 556px;
$-figure-icon-integracoes-api-y: 70px;
$-figure-icon-integracoes-api-offset-x: -556px;
$-figure-icon-integracoes-api-offset-y: -70px;
$-figure-icon-integracoes-api-width: 66px;
$-figure-icon-integracoes-api-height: 70px;
$-figure-icon-integracoes-api-total-width: 688px;
$-figure-icon-integracoes-api-total-height: 557px;
$-figure-icon-integracoes-api-image: '../images/sprite.png';
$-figure-icon-integracoes-api: (556px, 70px, -556px, -70px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--integracoesApi', );
$-figure-icon-integracoes-player-name: 'FigureIcon--integracoesPlayer';
$-figure-icon-integracoes-player-x: 556px;
$-figure-icon-integracoes-player-y: 140px;
$-figure-icon-integracoes-player-offset-x: -556px;
$-figure-icon-integracoes-player-offset-y: -140px;
$-figure-icon-integracoes-player-width: 66px;
$-figure-icon-integracoes-player-height: 70px;
$-figure-icon-integracoes-player-total-width: 688px;
$-figure-icon-integracoes-player-total-height: 557px;
$-figure-icon-integracoes-player-image: '../images/sprite.png';
$-figure-icon-integracoes-player: (556px, 140px, -556px, -140px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--integracoesPlayer', );
$-figure-icon-integracoes-players-color2-name: 'FigureIcon--integracoesPlayers--color2';
$-figure-icon-integracoes-players-color2-x: 556px;
$-figure-icon-integracoes-players-color2-y: 210px;
$-figure-icon-integracoes-players-color2-offset-x: -556px;
$-figure-icon-integracoes-players-color2-offset-y: -210px;
$-figure-icon-integracoes-players-color2-width: 66px;
$-figure-icon-integracoes-players-color2-height: 70px;
$-figure-icon-integracoes-players-color2-total-width: 688px;
$-figure-icon-integracoes-players-color2-total-height: 557px;
$-figure-icon-integracoes-players-color2-image: '../images/sprite.png';
$-figure-icon-integracoes-players-color2: (556px, 210px, -556px, -210px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--integracoesPlayers--color2', );
$-figure-icon-interacao-video-name: 'FigureIcon--interacaoVideo';
$-figure-icon-interacao-video-x: 424px;
$-figure-icon-interacao-video-y: 0px;
$-figure-icon-interacao-video-offset-x: -424px;
$-figure-icon-interacao-video-offset-y: 0px;
$-figure-icon-interacao-video-width: 66px;
$-figure-icon-interacao-video-height: 70px;
$-figure-icon-interacao-video-total-width: 688px;
$-figure-icon-interacao-video-total-height: 557px;
$-figure-icon-interacao-video-image: '../images/sprite.png';
$-figure-icon-interacao-video: (424px, 0px, -424px, 0px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--interacaoVideo', );
$-figure-icon-interatividade-name: 'FigureIcon--interatividade';
$-figure-icon-interatividade-x: 556px;
$-figure-icon-interatividade-y: 350px;
$-figure-icon-interatividade-offset-x: -556px;
$-figure-icon-interatividade-offset-y: -350px;
$-figure-icon-interatividade-width: 66px;
$-figure-icon-interatividade-height: 70px;
$-figure-icon-interatividade-total-width: 688px;
$-figure-icon-interatividade-total-height: 557px;
$-figure-icon-interatividade-image: '../images/sprite.png';
$-figure-icon-interatividade: (556px, 350px, -556px, -350px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--interatividade', );
$-figure-icon-monetize-name: 'FigureIcon--monetize';
$-figure-icon-monetize-x: 0px;
$-figure-icon-monetize-y: 487px;
$-figure-icon-monetize-offset-x: 0px;
$-figure-icon-monetize-offset-y: -487px;
$-figure-icon-monetize-width: 66px;
$-figure-icon-monetize-height: 70px;
$-figure-icon-monetize-total-width: 688px;
$-figure-icon-monetize-total-height: 557px;
$-figure-icon-monetize-image: '../images/sprite.png';
$-figure-icon-monetize: (0px, 487px, 0px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--monetize', );
$-figure-icon-monetize-videos-name: 'FigureIcon--monetizeVideos';
$-figure-icon-monetize-videos-x: 490px;
$-figure-icon-monetize-videos-y: 420px;
$-figure-icon-monetize-videos-offset-x: -490px;
$-figure-icon-monetize-videos-offset-y: -420px;
$-figure-icon-monetize-videos-width: 64px;
$-figure-icon-monetize-videos-height: 54px;
$-figure-icon-monetize-videos-total-width: 688px;
$-figure-icon-monetize-videos-total-height: 557px;
$-figure-icon-monetize-videos-image: '../images/sprite.png';
$-figure-icon-monetize-videos: (490px, 420px, -490px, -420px, 64px, 54px, 688px, 557px, '../images/sprite.png', 'FigureIcon--monetizeVideos', );
$-figure-icon-nav-next-name: 'FigureIcon--navNext';
$-figure-icon-nav-next-x: 183px;
$-figure-icon-nav-next-y: 377px;
$-figure-icon-nav-next-offset-x: -183px;
$-figure-icon-nav-next-offset-y: -377px;
$-figure-icon-nav-next-width: 31px;
$-figure-icon-nav-next-height: 30px;
$-figure-icon-nav-next-total-width: 688px;
$-figure-icon-nav-next-total-height: 557px;
$-figure-icon-nav-next-image: '../images/sprite.png';
$-figure-icon-nav-next: (183px, 377px, -183px, -377px, 31px, 30px, 688px, 557px, '../images/sprite.png', 'FigureIcon--navNext', );
$-figure-icon-nav-prev-name: 'FigureIcon--navPrev';
$-figure-icon-nav-prev-x: 214px;
$-figure-icon-nav-prev-y: 377px;
$-figure-icon-nav-prev-offset-x: -214px;
$-figure-icon-nav-prev-offset-y: -377px;
$-figure-icon-nav-prev-width: 31px;
$-figure-icon-nav-prev-height: 30px;
$-figure-icon-nav-prev-total-width: 688px;
$-figure-icon-nav-prev-total-height: 557px;
$-figure-icon-nav-prev-image: '../images/sprite.png';
$-figure-icon-nav-prev: (214px, 377px, -214px, -377px, 31px, 30px, 688px, 557px, '../images/sprite.png', 'FigureIcon--navPrev', );
$-figure-icon-personalizacao-name: 'FigureIcon--personalizacao';
$-figure-icon-personalizacao-x: 264px;
$-figure-icon-personalizacao-y: 487px;
$-figure-icon-personalizacao-offset-x: -264px;
$-figure-icon-personalizacao-offset-y: -487px;
$-figure-icon-personalizacao-width: 66px;
$-figure-icon-personalizacao-height: 70px;
$-figure-icon-personalizacao-total-width: 688px;
$-figure-icon-personalizacao-total-height: 557px;
$-figure-icon-personalizacao-image: '../images/sprite.png';
$-figure-icon-personalizacao: (264px, 487px, -264px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--personalizacao', );
$-figure-icon-plataforma-brasileira-name: 'FigureIcon--plataformaBrasileira';
$-figure-icon-plataforma-brasileira-x: 276px;
$-figure-icon-plataforma-brasileira-y: 417px;
$-figure-icon-plataforma-brasileira-offset-x: -276px;
$-figure-icon-plataforma-brasileira-offset-y: -417px;
$-figure-icon-plataforma-brasileira-width: 49px;
$-figure-icon-plataforma-brasileira-height: 64px;
$-figure-icon-plataforma-brasileira-total-width: 688px;
$-figure-icon-plataforma-brasileira-total-height: 557px;
$-figure-icon-plataforma-brasileira-image: '../images/sprite.png';
$-figure-icon-plataforma-brasileira: (276px, 417px, -276px, -417px, 49px, 64px, 688px, 557px, '../images/sprite.png', 'FigureIcon--plataformaBrasileira', );
$-figure-icon-plataforma-completa-name: 'FigureIcon--plataformaCompleta';
$-figure-icon-plataforma-completa-x: 132px;
$-figure-icon-plataforma-completa-y: 155px;
$-figure-icon-plataforma-completa-offset-x: -132px;
$-figure-icon-plataforma-completa-offset-y: -155px;
$-figure-icon-plataforma-completa-width: 132px;
$-figure-icon-plataforma-completa-height: 132px;
$-figure-icon-plataforma-completa-total-width: 688px;
$-figure-icon-plataforma-completa-total-height: 557px;
$-figure-icon-plataforma-completa-image: '../images/sprite.png';
$-figure-icon-plataforma-completa: (132px, 155px, -132px, -155px, 132px, 132px, 688px, 557px, '../images/sprite.png', 'FigureIcon--plataformaCompleta', );
$-figure-icon-relatorios-color2-name: 'FigureIcon--relatorios--color2';
$-figure-icon-relatorios-color2-x: 462px;
$-figure-icon-relatorios-color2-y: 487px;
$-figure-icon-relatorios-color2-offset-x: -462px;
$-figure-icon-relatorios-color2-offset-y: -487px;
$-figure-icon-relatorios-color2-width: 66px;
$-figure-icon-relatorios-color2-height: 70px;
$-figure-icon-relatorios-color2-total-width: 688px;
$-figure-icon-relatorios-color2-total-height: 557px;
$-figure-icon-relatorios-color2-image: '../images/sprite.png';
$-figure-icon-relatorios-color2: (462px, 487px, -462px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--relatorios--color2', );
$-figure-icon-relatorios-name: 'FigureIcon--relatorios';
$-figure-icon-relatorios-x: 528px;
$-figure-icon-relatorios-y: 487px;
$-figure-icon-relatorios-offset-x: -528px;
$-figure-icon-relatorios-offset-y: -487px;
$-figure-icon-relatorios-width: 66px;
$-figure-icon-relatorios-height: 70px;
$-figure-icon-relatorios-total-width: 688px;
$-figure-icon-relatorios-total-height: 557px;
$-figure-icon-relatorios-image: '../images/sprite.png';
$-figure-icon-relatorios: (528px, 487px, -528px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--relatorios', );
$-figure-icon-relatorios-avancados-name: 'FigureIcon--relatoriosAvancados';
$-figure-icon-relatorios-avancados-x: 325px;
$-figure-icon-relatorios-avancados-y: 417px;
$-figure-icon-relatorios-avancados-offset-x: -325px;
$-figure-icon-relatorios-avancados-offset-y: -417px;
$-figure-icon-relatorios-avancados-width: 46px;
$-figure-icon-relatorios-avancados-height: 64px;
$-figure-icon-relatorios-avancados-total-width: 688px;
$-figure-icon-relatorios-avancados-total-height: 557px;
$-figure-icon-relatorios-avancados-image: '../images/sprite.png';
$-figure-icon-relatorios-avancados: (325px, 417px, -325px, -417px, 46px, 64px, 688px, 557px, '../images/sprite.png', 'FigureIcon--relatoriosAvancados', );
$-figure-icon-reunioes-name: 'FigureIcon--reunioes';
$-figure-icon-reunioes-x: 622px;
$-figure-icon-reunioes-y: 70px;
$-figure-icon-reunioes-offset-x: -622px;
$-figure-icon-reunioes-offset-y: -70px;
$-figure-icon-reunioes-width: 66px;
$-figure-icon-reunioes-height: 70px;
$-figure-icon-reunioes-total-width: 688px;
$-figure-icon-reunioes-total-height: 557px;
$-figure-icon-reunioes-image: '../images/sprite.png';
$-figure-icon-reunioes: (622px, 70px, -622px, -70px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--reunioes', );
$-figure-icon-sac-mobile-name: 'FigureIcon--sac--mobile';
$-figure-icon-sac-mobile-x: 310px;
$-figure-icon-sac-mobile-y: 287px;
$-figure-icon-sac-mobile-offset-x: -310px;
$-figure-icon-sac-mobile-offset-y: -287px;
$-figure-icon-sac-mobile-width: 90px;
$-figure-icon-sac-mobile-height: 90px;
$-figure-icon-sac-mobile-total-width: 688px;
$-figure-icon-sac-mobile-total-height: 557px;
$-figure-icon-sac-mobile-image: '../images/sprite.png';
$-figure-icon-sac-mobile: (310px, 287px, -310px, -287px, 90px, 90px, 688px, 557px, '../images/sprite.png', 'FigureIcon--sac--mobile', );
$-figure-icon-sac-name: 'FigureIcon--sac';
$-figure-icon-sac-x: 294px;
$-figure-icon-sac-y: 130px;
$-figure-icon-sac-offset-x: -294px;
$-figure-icon-sac-offset-y: -130px;
$-figure-icon-sac-width: 130px;
$-figure-icon-sac-height: 130px;
$-figure-icon-sac-total-width: 688px;
$-figure-icon-sac-total-height: 557px;
$-figure-icon-sac-image: '../images/sprite.png';
$-figure-icon-sac: (294px, 130px, -294px, -130px, 130px, 130px, 688px, 557px, '../images/sprite.png', 'FigureIcon--sac', );
$-figure-icon-search-name: 'FigureIcon--search';
$-figure-icon-search-x: 130px;
$-figure-icon-search-y: 377px;
$-figure-icon-search-offset-x: -130px;
$-figure-icon-search-offset-y: -377px;
$-figure-icon-search-width: 53px;
$-figure-icon-search-height: 33px;
$-figure-icon-search-total-width: 688px;
$-figure-icon-search-total-height: 557px;
$-figure-icon-search-image: '../images/sprite.png';
$-figure-icon-search: (130px, 377px, -130px, -377px, 53px, 33px, 688px, 557px, '../images/sprite.png', 'FigureIcon--search', );
$-figure-icon-seguranca-color2-name: 'FigureIcon--seguranca--color2';
$-figure-icon-seguranca-color2-x: 622px;
$-figure-icon-seguranca-color2-y: 350px;
$-figure-icon-seguranca-color2-offset-x: -622px;
$-figure-icon-seguranca-color2-offset-y: -350px;
$-figure-icon-seguranca-color2-width: 66px;
$-figure-icon-seguranca-color2-height: 70px;
$-figure-icon-seguranca-color2-total-width: 688px;
$-figure-icon-seguranca-color2-total-height: 557px;
$-figure-icon-seguranca-color2-image: '../images/sprite.png';
$-figure-icon-seguranca-color2: (622px, 350px, -622px, -350px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--seguranca--color2', );
$-figure-icon-seguranca-name: 'FigureIcon--seguranca';
$-figure-icon-seguranca-x: 622px;
$-figure-icon-seguranca-y: 280px;
$-figure-icon-seguranca-offset-x: -622px;
$-figure-icon-seguranca-offset-y: -280px;
$-figure-icon-seguranca-width: 66px;
$-figure-icon-seguranca-height: 70px;
$-figure-icon-seguranca-total-width: 688px;
$-figure-icon-seguranca-total-height: 557px;
$-figure-icon-seguranca-image: '../images/sprite.png';
$-figure-icon-seguranca: (622px, 280px, -622px, -280px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--seguranca', );
$-figure-icon-slides-name: 'FigureIcon--slides';
$-figure-icon-slides-x: 622px;
$-figure-icon-slides-y: 0px;
$-figure-icon-slides-offset-x: -622px;
$-figure-icon-slides-offset-y: 0px;
$-figure-icon-slides-width: 66px;
$-figure-icon-slides-height: 70px;
$-figure-icon-slides-total-width: 688px;
$-figure-icon-slides-total-height: 557px;
$-figure-icon-slides-image: '../images/sprite.png';
$-figure-icon-slides: (622px, 0px, -622px, 0px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--slides', );
$-figure-icon-slowmotion-name: 'FigureIcon--slowmotion';
$-figure-icon-slowmotion-x: 330px;
$-figure-icon-slowmotion-y: 487px;
$-figure-icon-slowmotion-offset-x: -330px;
$-figure-icon-slowmotion-offset-y: -487px;
$-figure-icon-slowmotion-width: 66px;
$-figure-icon-slowmotion-height: 70px;
$-figure-icon-slowmotion-total-width: 688px;
$-figure-icon-slowmotion-total-height: 557px;
$-figure-icon-slowmotion-image: '../images/sprite.png';
$-figure-icon-slowmotion: (330px, 487px, -330px, -487px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--slowmotion', );
$-figure-icon-smart-phone-mobile-name: 'FigureIcon--smartPhone--mobile';
$-figure-icon-smart-phone-mobile-x: 130px;
$-figure-icon-smart-phone-mobile-y: 287px;
$-figure-icon-smart-phone-mobile-offset-x: -130px;
$-figure-icon-smart-phone-mobile-offset-y: -287px;
$-figure-icon-smart-phone-mobile-width: 90px;
$-figure-icon-smart-phone-mobile-height: 90px;
$-figure-icon-smart-phone-mobile-total-width: 688px;
$-figure-icon-smart-phone-mobile-total-height: 557px;
$-figure-icon-smart-phone-mobile-image: '../images/sprite.png';
$-figure-icon-smart-phone-mobile: (130px, 287px, -130px, -287px, 90px, 90px, 688px, 557px, '../images/sprite.png', 'FigureIcon--smartPhone--mobile', );
$-figure-icon-smart-phone-name: 'FigureIcon--smartPhone';
$-figure-icon-smart-phone-x: 0px;
$-figure-icon-smart-phone-y: 287px;
$-figure-icon-smart-phone-offset-x: 0px;
$-figure-icon-smart-phone-offset-y: -287px;
$-figure-icon-smart-phone-width: 130px;
$-figure-icon-smart-phone-height: 130px;
$-figure-icon-smart-phone-total-width: 688px;
$-figure-icon-smart-phone-total-height: 557px;
$-figure-icon-smart-phone-image: '../images/sprite.png';
$-figure-icon-smart-phone: (0px, 287px, 0px, -287px, 130px, 130px, 688px, 557px, '../images/sprite.png', 'FigureIcon--smartPhone', );
$-figure-icon-suporte-personalizado-name: 'FigureIcon--suportePersonalizado';
$-figure-icon-suporte-personalizado-x: 556px;
$-figure-icon-suporte-personalizado-y: 420px;
$-figure-icon-suporte-personalizado-offset-x: -556px;
$-figure-icon-suporte-personalizado-offset-y: -420px;
$-figure-icon-suporte-personalizado-width: 58px;
$-figure-icon-suporte-personalizado-height: 64px;
$-figure-icon-suporte-personalizado-total-width: 688px;
$-figure-icon-suporte-personalizado-total-height: 557px;
$-figure-icon-suporte-personalizado-image: '../images/sprite.png';
$-figure-icon-suporte-personalizado: (556px, 420px, -556px, -420px, 58px, 64px, 688px, 557px, '../images/sprite.png', 'FigureIcon--suportePersonalizado', );
$-figure-icon-transmissao-via-brasil-name: 'FigureIcon--transmissaoViaBrasil';
$-figure-icon-transmissao-via-brasil-x: 162px;
$-figure-icon-transmissao-via-brasil-y: 0px;
$-figure-icon-transmissao-via-brasil-offset-x: -162px;
$-figure-icon-transmissao-via-brasil-offset-y: 0px;
$-figure-icon-transmissao-via-brasil-width: 132px;
$-figure-icon-transmissao-via-brasil-height: 132px;
$-figure-icon-transmissao-via-brasil-total-width: 688px;
$-figure-icon-transmissao-via-brasil-total-height: 557px;
$-figure-icon-transmissao-via-brasil-image: '../images/sprite.png';
$-figure-icon-transmissao-via-brasil: (162px, 0px, -162px, 0px, 132px, 132px, 688px, 557px, '../images/sprite.png', 'FigureIcon--transmissaoViaBrasil', );
$-figure-icon-videos24h-color2-name: 'FigureIcon--videos24h--color2';
$-figure-icon-videos24h-color2-x: 0px;
$-figure-icon-videos24h-color2-y: 417px;
$-figure-icon-videos24h-color2-offset-x: 0px;
$-figure-icon-videos24h-color2-offset-y: -417px;
$-figure-icon-videos24h-color2-width: 66px;
$-figure-icon-videos24h-color2-height: 70px;
$-figure-icon-videos24h-color2-total-width: 688px;
$-figure-icon-videos24h-color2-total-height: 557px;
$-figure-icon-videos24h-color2-image: '../images/sprite.png';
$-figure-icon-videos24h-color2: (0px, 417px, 0px, -417px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--videos24h--color2', );
$-figure-icon-webinar-interatividade-name: 'FigureIcon--webinarInteratividade';
$-figure-icon-webinar-interatividade-x: 622px;
$-figure-icon-webinar-interatividade-y: 210px;
$-figure-icon-webinar-interatividade-offset-x: -622px;
$-figure-icon-webinar-interatividade-offset-y: -210px;
$-figure-icon-webinar-interatividade-width: 66px;
$-figure-icon-webinar-interatividade-height: 70px;
$-figure-icon-webinar-interatividade-total-width: 688px;
$-figure-icon-webinar-interatividade-total-height: 557px;
$-figure-icon-webinar-interatividade-image: '../images/sprite.png';
$-figure-icon-webinar-interatividade: (622px, 210px, -622px, -210px, 66px, 70px, 688px, 557px, '../images/sprite.png', 'FigureIcon--webinarInteratividade', );
$-figure-icon-zoe-web-name: 'FigureIcon--zoeWeb';
$-figure-icon-zoe-web-x: 0px;
$-figure-icon-zoe-web-y: 0px;
$-figure-icon-zoe-web-offset-x: 0px;
$-figure-icon-zoe-web-offset-y: 0px;
$-figure-icon-zoe-web-width: 162px;
$-figure-icon-zoe-web-height: 155px;
$-figure-icon-zoe-web-total-width: 688px;
$-figure-icon-zoe-web-total-height: 557px;
$-figure-icon-zoe-web-image: '../images/sprite.png';
$-figure-icon-zoe-web: (0px, 0px, 0px, 0px, 162px, 155px, 688px, 557px, '../images/sprite.png', 'FigureIcon--zoeWeb', );
$-nav-button-main-name: 'NavButton--main';
$-nav-button-main-x: 334px;
$-nav-button-main-y: 260px;
$-nav-button-main-offset-x: -334px;
$-nav-button-main-offset-y: -260px;
$-nav-button-main-width: 40px;
$-nav-button-main-height: 25px;
$-nav-button-main-total-width: 688px;
$-nav-button-main-total-height: 557px;
$-nav-button-main-image: '../images/sprite.png';
$-nav-button-main: (334px, 260px, -334px, -260px, 40px, 25px, 688px, 557px, '../images/sprite.png', 'NavButton--main', );
$icon-home-name: 'icon-home';
$icon-home-x: 294px;
$icon-home-y: 260px;
$icon-home-offset-x: -294px;
$icon-home-offset-y: -260px;
$icon-home-width: 40px;
$icon-home-height: 25px;
$icon-home-total-width: 688px;
$icon-home-total-height: 557px;
$icon-home-image: '../images/sprite.png';
$icon-home: (294px, 260px, -294px, -260px, 40px, 25px, 688px, 557px, '../images/sprite.png', 'icon-home', );
$spritesheet-width: 688px;
$spritesheet-height: 557px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-figure-icon-24horas, $-figure-icon-c-d-ne-transcodificacao, $-figure-icon-acessibilidade-color2, $-figure-icon-acessibilidade, $-figure-icon-brasileira-color2, $-figure-icon-brasileira, $-figure-icon-captura-leads, $-figure-icon-compartilhamento-color2, $-figure-icon-compartilhamento, $-figure-icon-compatibilidade, $-figure-icon-distribuicao-redes-sociais, $-figure-icon-encoding-videos-color2, $-figure-icon-encoding-videos, $-figure-icon-envelope-open-mobile, $-figure-icon-envelope-open, $-figure-icon-escala-qualidade, $-figure-icon-escalavel-color2, $-figure-icon-escalavel, $-figure-icon-facil-instalacao-color2, $-figure-icon-facil-instalacao, $-figure-icon-geoblocking, $-figure-icon-hotsite-color2, $-figure-icon-hotsite, $-figure-icon-html5, $-figure-icon-integracoes-color2, $-figure-icon-integracoes, $-figure-icon-integracoes-api, $-figure-icon-integracoes-player, $-figure-icon-integracoes-players-color2, $-figure-icon-interacao-video, $-figure-icon-interatividade, $-figure-icon-monetize, $-figure-icon-monetize-videos, $-figure-icon-nav-next, $-figure-icon-nav-prev, $-figure-icon-personalizacao, $-figure-icon-plataforma-brasileira, $-figure-icon-plataforma-completa, $-figure-icon-relatorios-color2, $-figure-icon-relatorios, $-figure-icon-relatorios-avancados, $-figure-icon-reunioes, $-figure-icon-sac-mobile, $-figure-icon-sac, $-figure-icon-search, $-figure-icon-seguranca-color2, $-figure-icon-seguranca, $-figure-icon-slides, $-figure-icon-slowmotion, $-figure-icon-smart-phone-mobile, $-figure-icon-smart-phone, $-figure-icon-suporte-personalizado, $-figure-icon-transmissao-via-brasil, $-figure-icon-videos24h-color2, $-figure-icon-webinar-interatividade, $-figure-icon-zoe-web, $-nav-button-main, $icon-home, );
$spritesheet: (688px, 557px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
